html {
    background-color: rgb(162, 255, 239);
    font-family: "Comic Sans", sans-serif;
}
h1 {
    color : red
    font-size:18px;
    letter-spacing:5px;
}
p {
    color : greenyellow
    font-size:15px;
    letter-spacing:1px;
}                     
li {
    font-size:15px;
    letter-spacing:1px;
    color :black;
}

img {
    display: block; 
}
div {
    border: rgb(229, 255, 0) dotted 3px;
    padding: 10px;
    margin: 50px;
}
#Checkmate {
    color:crimson
}
.Piece {
    color:rgb(255, 0, 221)
    font-size:15px;
    letter-spacing:5px;
}
a {
    font-size:15px;
    letter-spacing:2px;
}