html {
    background-color: aquamarine;
    font-family: "Comic Sans", sans-serif;
}




li {
    font-size:18px;
    letter-spacing:2px;
}

img {
    display: block;
    width: 70%;
    margin: 0 auto;
}
div {
    border: lightblue dotted 3px;
    padding: 20px;
    margin: 10px;
}
span.lang {
    font-family: "Courier New", Courier, monospace;
}